module.exports = {
    token: "BOT TOKEN",
    guildId: "GUILD ID",
    channel: {
        testimoni: "TESTIMONY CHANNEL ID",
        feedback: "FEEDBACK CHANNEL ID",
        welcome: "WELCOME CHANNEL ID",
        goodbye: "GOODBYE CHANNEL ID",
        logs: "TICKET CHANNEL ID",
        botLogs: "BOT LOG CHANNEL ID",
        parent: "TICKET PARENT CATEGORY ID",
    },
    role: {
        buyer: "BUYER ROLE ID",
    },
    developer: {
        tokioshy: "YOUR DISCORD ID",
    },
};
